/*Universal Selector*/
* {
    font-family: cursive;
    background-color: lavenderblush;
}

/*element selector*/

.header h1 {
    position: fixed;
    display: inline-block;
    background-color: coral;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

#list li {
    display: inline-block;
    margin-left: 25px;
}

/*class selector*/

.image {
    width: 100%;
    height: 100%;
    display: center;
    background-size: cover;
}

.contents {
    width: fit-content;
    display: inline-block;
}

#biography {
    box-sizing: content-box;
    width: 100%;
    height: auto;
    background-color: steelblue;
    float: left;
}

#social-network-account {
    display: block;
    width: 50%;
    height: auto;
}

#contact-us {
    display: block;
}

/*element selector*/

#biography h2 {
    text-align: center;
    background-color: steelblue;
}

#biography p {
    background-color: paleturquoise;
}